@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: "nordeste";
    src: url("fontes/xilosa_.ttf") format("truetype");
}

:root{
    --fonte1:Verdana, Geneva, Thahoma, sans-serif;
    --fonte2:'Sriracha', cursive;
    --fonte3:"nordeste"
}

*{
    margin: 0px;
    padding: 0px;
}

html body{
    background-color: white;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color:rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.836);
    text-align: center;
    padding: 50px;
    font-variant: small-caps;
    font-size: 3.5vw;
    background-image: url("imagens/D_NQ_NP_918283-MLB49814890769_042022-V.jpg");
    
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);  
}

header>p{
    padding-bottom: 50px;
}

header a, footer a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte3);
    }

    header a:hover, footer a:hover{
        
        text-decoration: underline;
    }

    section{
        line-height: 2em;
        padding-left: 30px;
        padding-top: 10vh;
        padding-bottom: 10vh ;
        font-family: var(--fonte2);
        font-size: 2vw;
        background-attachment: fixed;
    }

    section>p{
        padding-bottom:2em ;
        

    }

    section.normal{
        background-color:white;
        
    }


    section#img1{
    background-image: url("imagens/nordeste.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    }

    section#img2{
        background-image: url("imagens/nordestino.jpg");
        background-size: cover;
        


    }

    section.imagem>p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    margin-top: 50px;
     
    }

    section.imagem{
       color: white;
       background-color: rgba(51, 51, 51);
       box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.437);
    }

    footer{
        text-align: center;
        color: white;
    }
