@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: "nordeste";
    src: url("fontes/xilosa_.ttf") format("truetype");
}

:root{
    --fonte1:Verdana, Geneva, Thahoma, sans-serif;
    --fonte2:'Sriracha', cursive;
    --fonte3:"nordeste"
}

*{
    margin: 0px;
    padding: 0px;
}

html body{
    background-color: gray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-variant: small-caps;
    font-size: 3.5vw;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
}

header>p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte3);
    }

    header a:hover, footer a:hover{
        
        text-decoration: underline;
    }

    section{
        line-height: 2em;
        padding-left: 30px;
        padding-top: 10vhpx;
        padding-bottom: 10vh ;
        font-family: var(--fonte2);
        font-size: 2vw;
    }

    section.normal{
        background-color:white;
    }

    section.imagem>p{
    background-color: rgba(0, 0, 0, 0.322);
     display: inline-block;
    }

    section.imagem{
       color: white;
    }

    footer{
        text-align: center;
        color: white;
    }
